# FOR LOOP with list

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [4]:
for num in mylist:
    #check for even number
    if num%2 ==0:
        print (f'even number: {num}')
    else :
        print(f'odd nuber: {num}')

odd nuber: 1
even number: 2
odd nuber: 3
even number: 4
odd nuber: 5
even number: 6
odd nuber: 7
even number: 8
odd nuber: 9
even number: 10

In [7]:
list_sum = 0

for num in mylist:
    list_sum = list_sum +num

print(list_sum)

55

In [8]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [9]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

# FOR LOOP with Tuple

In [10]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [11]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [12]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [13]:
for (a,b) in mylist:
    print(a,b)

1 2
3 4
5 6
7 8

In [14]:
for (a,b) in mylist: # here parenthesis are not mandatory
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [15]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]
for a,b,c in mylist:
    print(b)

2
6
9

# FOR LOOP with Dictionary

In [17]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item) # by default it will print keys

k1
k2
k3

In [18]:
d = {'k1':1,'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [19]:
d = {'k1':1,'k2':2,'k3':3}
for item in d.values():
    print(item)

1
2
3

In [20]:
d = {'k1':1,'k2':2,'k3':3}
for item in d.keys():
    print(item)

k1
k2
k3

In [21]:
d = {'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [34]:
d = {'k1':1,'k2':2,'k3':3}
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [35]:
d.values()

dict_values([1, 2, 3])

In [ ]:
d.keys()

# For loop for drawing pattern

In [143]:
char = '*'
for i in range(1,6):
    print(char*i)

*
**
***
****
*****

In [144]:
char = '*'
for i in range(1,8,2):
    print('{0:^8}'.format(char*(i)))

   *
  ***
 *****
*******

In [145]:
char = '*'
y = 6
for i in range(1,8,2):
    print('{0:^8}'.format(char*(i)))
for x in range(1,6,2):
    z=y-x
    print('{0:^8}'.format(char*z))

   *
  ***
 *****
*******
 *****
  ***
   *

In [146]:
for i in range(1,5):
    print('{}{}'.format(' '*(4-i),'*'*i))

   *
  **
 ***
****

In [147]:
for i in range(1,5):
    print('{}{}{}'.format(' '*(4-i),'*'*i,'*'*(i-1)))

   *
  ***
 *****
*******

In [148]:
for i in range(1,5):
    print('{}{}{}'.format(' '*(4-i),'*'*i,'*'*(i-1)))
for x in range(1,4):
    print('{}{}'.format(' '*x,'*'*(4-x)))

   *
  ***
 *****
*******
 ***
  **
   *

In [149]:
for i in range(1,5):
    print('{}{}{}'.format(' '*(4-i),'*'*i,'*'*(i-1)))
for x in range(1,4):
    print('{}{}{}'.format(' '*x,'*'*(4-x),'*'*(3-x)))

   *
  ***
 *****
*******
 *****
  ***
   *

# While loop

In [38]:
x=0
while x<5:
    print(x)
    x=x+1

0
1
2
3
4

In [40]:
x=50
while x<5:
    print(x)
    x=x+1
else:
    print("x is not less than 5")

x is not less than 5

In [112]:
i = 1
while i in [1,2,3]:
    i+=1
    print(i)

2
3
4

# pass statement

In [49]:
x= [1,2,3]
for item in x:
    pass

In [43]:
x= [1,2,3]
for item in x:
    
print ("hello")

IndentationError: expected an indented block after 'for' statement on line 2 (470818595.py, line 4)

In [44]:
x= [1,2,3]
for item in x:
    pass
print ("hello")

hello

# continue statement

In [47]:
x = [1,2,3]
for y in x:
    if y ==2:
        continue
    print(y)

1
3

# break statement

In [50]:
x = 0

In [51]:
while x < 5:
    if x==3:
        break
    print(x)
    x+=1

0
1
2

# Range operator

In [54]:
for num in range(5):
    print(num)

0
1
2
3
4

In [55]:
list(range(2,12,2))

[2, 4, 6, 8, 10]

# Enumerate operator

In [56]:
word = 'abc'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')

In [57]:
word = 'abc'
for x,y in enumerate(word):
    print(x)
    print(y)

0
a
1
b
2
c

In [64]:
enumerate(word) # it doesnt give the output directly

In [65]:
list(enumerate(word))

[(0, 'a'), (1, 'b'), (2, 'c')]

# zip operator

In [58]:
list1 = [1,2,3]
list2 = ['a','b','c']
for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [60]:
list1 = [1,2,3]
list2 = ['a','b','c','d']
for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [61]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [62]:
zip(list1,list2) # it doesnt give the output directly

# in operator

In [66]:
'l' in 'a world'

True

In [113]:
1 in [1,2,3]

True

# min & max operator

In [67]:
list1 = [100,20,3]
min(list1)

3

In [68]:
max(list1)

100

In [69]:
list1 = [100,20,3,'a','b']
min(list1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [70]:
list1 = ['a','b','c','A']
min(list1)

'A'

In [71]:
max(list1)

'c'

# random library

In [80]:
from random import shuffle # shuffle function

In [81]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [86]:
shuffle(list1)

In [87]:
list1

[7, 5, 4, 8, 3, 10, 6, 1, 9, 2]

In [85]:
type(shuffle(list1))

NoneType

In [88]:
from random import randint # randint function

In [90]:
randint(10,10)

10

In [92]:
randint(10,100)

11

In [93]:
type(randint(10,100))

int

In [94]:
my_num = randint(10,100)

In [95]:
my_num

89

In [96]:
randint(100,10)

ValueError: empty range for randrange() (100, 11, -89)

# Input function

In [97]:
input('Enter any number:')

Enter any number:11

'11'

In [100]:
result = input('what is your name ?')

what is your name ?AJ

In [101]:
result

'AJ'

In [102]:
result = input('what is your age ?')

what is your age ?30

In [103]:
result

'30'

In [111]:
i = 1
while i in [1,2,3]:
    i+=1
    print(i)

2
3
4

In [109]:
1 in [1,2,3]

True

In [118]:
branches = ["Pune","Bangalore"]
[(w.upper(),len(w)) for w in branches]

[('PUNE', 4), ('BANGALORE', 9)]

In [121]:
list(enumerate([2,3]))

[(0, 2), (1, 3)]

In [122]:
print('11'.isnumeric())

True

In [123]:
print(11.isnumeric())

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1740581352.py, line 1)

In [124]:
print(11)

11

In [125]:
list1 = [1,2,3]
all(list1)

True

In [126]:
enumerate(list1)

In [129]:
chr(list1)

TypeError: 'list' object cannot be interpreted as an integer

In [130]:
max(list1)

3